<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN/RU"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta charset="UTF-8">
  <title>Main</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal"><a class="p-2 text-dark" href="/">Senla test project</a></h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="/me">About me</a>
    <a class="p-2 text-dark" href="/web/order/orders">My project</a>
    <a class="p-2 text-dark" href="/contact">Contact</a>

  </nav>
  <nav class="my-2 my-md-0 mr-md-3">
    <script type="text/javascript">
      setInterval(function () {
        date = new Date(),
                h = date.getHours(),
                m = date.getMinutes(),
                s = date.getSeconds(),
                h = (h < 10) ? '0' + h : h,
                m = (m < 10) ? '0' + m : m,
                s = (s < 10) ? '0' + s : s,
                document.getElementById('time').innerHTML = h + ':' + m + ':' + s;
      }, 1000);
    </script>
    <span id="time" >00:00:00</span>
  </nav>
  <a>
    <form th:action="@{/logout}" method="post">
      <input class="btn btn-outline-primary" type="submit" value="Log out" />
    </form>  </a>
</div>
<main role="main" class="inner cover">
  <h1 class="cover-heading " >My Contact</h1>
  <p class="lead">Brest, Belarus</p>
  <p class="lead">tel +375 29 802 01 30</p>
  <p class="lead">email: Ispolin1@rambler.ru</p>
  <p class="lead"><a href="https://github.com/Medivka"> github</a></p>
  <p class="lead"><a href="https://t.me/Medivka"> telegram</a></p>

    <a href="/" class="btn btn-lg btn-secondary">return main</a>
  </p>
</main>

</div>


</body>
</html>
<style>
  body {
    background: #E0FFFF;
    margin-right: 5%;
    margin-left: 5%;
  }
</style>